@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

section {
    background: url(../Assets/images/Background3.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin-left: 220px;
}

.name {
    transform: translateY(100%);
    display: inline-block;
    font-family: 'Barlow', sans-serif;
}

.title {
    font-size: 140px;
    letter-spacing: 4px;
    color: rgb(83, 90, 122);
    margin-bottom: 15px;
}

.subtitle {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: rgb(83, 90, 122);
    font-family: 'Barlow', sans-serif;
}